<nav class="navbar navbar-default">
       <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#navbar">
                <i class="fas fa-paw"></i>
              </button>
              <a href="../pages/index.html.erb">MENU</a>
          </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">UNO</a></li>
                <li><a href="#">DOS</a></li>
                <li><a href="#">TRES</a></li>
                <li><a href="#">CUATRO</a></li>
                <li><a href="#">CINCO</a></li>
            </ul>
        </div>
       </div>
    </nav>